.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}
a.test {
  font-weight: bold;
}
.racer_table td {
  background-color: white;
  height: 20px;
  width: 20px;
  margin 0 auto;
  text-align: center;
}

.racer_table td.active {
  background-color: black;
}

tr.winner td {
  background-color: green;
}
