<div class="container">
  <h1><%=@name%>'s Stats</h1>
  <%@games.each do |game| %>
  <p><%="Game #"+game.id.to_s+((game.outcome == @name) ? " Winner" : " Loser")%>
  <%="Time: "+(game.updated_at - game.created_at).to_s %>
  <%end%>
</div>
